<header ng-switch on="$location.path().indexOf('/Pedidos/new') > -1">
    <h3 ng-switch-when="true">Create a new Pedido</h3>
    <h3 ng-switch-when="false">View or edit Pedido</h3>
</header>
<form id="PedidoForm" name="PedidoForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    

    <div class="form-group" ng-class="{'has-error': PedidoForm.produtosPedido.$invalid}">
        <label for="produtosPedido" class="col-sm-2 control-label">Produtos Pedido</label>
        <div id="produtosPedidoControls" class="col-sm-10">
            <select id="produtosPedido" name="produtosPedido" multiple class="form-control" ng-model="produtosPedidoSelection" ng-options="p.text for p in produtosPedidoSelectionList">
                <option value="">Choose a Produtos Pedido</option>
            </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="savePedido" name="savePedido" class="btn btn-primary" ng-disabled="isClean() || PedidoForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deletePedido" name="deletePedido" class="btn btn-danger" ng-show="pedido.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>