<header ng-switch on="$location.path().indexOf('/ProdutoPedidos/new') > -1">
    <h3 ng-switch-when="true">Create a new ProdutoPedido</h3>
    <h3 ng-switch-when="false">View or edit ProdutoPedido</h3>
</header>
<form id="ProdutoPedidoForm" name="ProdutoPedidoForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    

    <div class="form-group" ng-class="{'has-error': ProdutoPedidoForm.preco.$invalid}">
        <label for="preco" class="col-sm-2 control-label">Preco</label>
        <div id="precoControls" class="col-sm-10">
            <input id="preco" name="preco" type="text" class="form-control" ng-model="produtoPedido.preco" placeholder="Enter the ProdutoPedido Preco"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProdutoPedidoForm.pedido.$invalid}">
        <label for="pedido" class="col-sm-2 control-label">Pedido</label>
        <div id="pedidoControls" class="col-sm-10">
        <select id="pedido" name="pedido" class="form-control" ng-model="pedidoSelection" ng-options="p.text for p in pedidoSelectionList"  >
            <option value="">Choose a Pedido</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProdutoPedidoForm.produto.$invalid}">
        <label for="produto" class="col-sm-2 control-label">Produto</label>
        <div id="produtoControls" class="col-sm-10">
        <select id="produto" name="produto" class="form-control" ng-model="produtoSelection" ng-options="p.text for p in produtoSelectionList"  >
            <option value="">Choose a Produto</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ProdutoPedidoForm.quantidade.$invalid}">
        <label for="quantidade" class="col-sm-2 control-label">Quantidade</label>
        <div id="quantidadeControls" class="col-sm-10">
            <input id="quantidade" name="quantidade" type="number" class="form-control" ng-model="produtoPedido.quantidade" placeholder="Enter the ProdutoPedido Quantidade"></input>
            <span class="help-block error" ng-show="ProdutoPedidoForm.quantidade.$error.number">not a number</span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveProdutoPedido" name="saveProdutoPedido" class="btn btn-primary" ng-disabled="isClean() || ProdutoPedidoForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteProdutoPedido" name="deleteProdutoPedido" class="btn btn-danger" ng-show="produtoPedido.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>