<div class="form-horizontal">
    <h3>Create a new Produto</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Produtos/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Produtos</h3>
    <form id="ProdutoSearch" class="form-horizontal">
        

    <div class="form-group">
        <label for="categoria" class="col-sm-2 control-label">Categoria</label>
        <div class="col-sm-10">
            <select id="categoria" name="categoria" class="form-control" ng-model="search.categoria" ng-options="c as c.id for c in categoriaList">
                <option value="">Choose a Categoria</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="peso" class="col-sm-2 control-label">Peso</label>
        <div class="col-sm-10">
            <input id="peso" name="peso" class="form-control" type="text" ng-model="search.peso" placeholder="Enter the Produto Peso"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="preco" class="col-sm-2 control-label">Preco</label>
        <div class="col-sm-10">
            <input id="preco" name="preco" class="form-control" type="text" ng-model="search.preco" placeholder="Enter the Produto Preco"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="cor" class="col-sm-2 control-label">Cor</label>
        <div class="col-sm-10">
            <input id="cor" name="cor" class="form-control" type="text" ng-model="search.cor" placeholder="Enter the Produto Cor"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="descricao" class="col-sm-2 control-label">Descricao</label>
        <div class="col-sm-10">
            <input id="descricao" name="descricao" class="form-control" type="text" ng-model="search.descricao" placeholder="Enter the Produto Descricao"></input>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Categoria</th>
                    <th>Peso</th>
                    <th>Preco</th>
                    <th>Cor</th>
                    <th>Descricao</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                        <td><a href="#/Produtos/edit/{{result.id}}">{{result.categoria.id}}</a></td>
                    <td><a href="#/Produtos/edit/{{result.id}}">{{result.peso}}</a></td>
                    <td><a href="#/Produtos/edit/{{result.id}}">{{result.preco}}</a></td>
                    <td><a href="#/Produtos/edit/{{result.id}}">{{result.cor}}</a></td>
                    <td><a href="#/Produtos/edit/{{result.id}}">{{result.descricao}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>